annotated-types==0.7.0
anyio==4.10.0
async-timeout==5.0.1
asyncpg==0.29.0
asyncssh==2.21.0
cffi==1.17.1
click==8.2.1
colorama==0.4.6
cramjam==2.11.0
cryptography==45.0.6
fastapi==0.116.1
fastparquet==2024.11.0
fsspec==2025.9.0
greenlet==3.2.3
h11==0.16.0
idna==3.10
-e git+https://github.com/Dreamer-Dy-Yun/Novas_Ez.git@c422f83dff7ab8affc0d826e5dfdc7537fe25926#egg=NOVAS_EZ_Project&subdirectory=back_end
lz4==4.3.3
numpy==2.3.2
orjson==3.10.12
packaging==25.0
pandas==2.3.1
pgvector==0.4.1
pyarrow==21.0.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.42
starlette==0.47.2
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uvicorn==0.35.0
